<body>
<br />
<br />
<br />
<style type='text/css'>
    @font-face {
    font-family: "Museo";
    src: url(https://bitbucket.org/azoreslovers/general-data/raw/6f75a56b9ab51f3aafb535ae211f9be4e8be9e24/mail-signature/resources/exljbris-Museo-500.otf) format('opentype');
    }
  a.link{margin:0;padding:0;border:none !important;text-decoration:none !important;}
  table,tr,td,a,span{font-family:'Museo', 'Helvetica Neue',Helvetica,Arial,sans-serif;}
</style>
<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
<meta name='format-detection' content='telephone=no' />
<meta name='format-detection' content='address=no' />
<meta name='format-detection' content='email=no' />

<table id="sig" width='' cellspacing='0' cellpadding='0' border-spacing='0' style="max-width:auto;display:block !important;margin:0;padding:0;">
    <tr>
        <td valign='top' width="auto" style="height:208px;width:auto;margin:0;padding:0;vertical-align:top;">
            <a href='http://www.azoreslovers.com' title="AzoresLovers" style="border:none;text-decoration:none;">
                <img moz-do-not-send="true" src="https://bytebucket.org/azoreslovers/general-data/raw/63a5f9b129a3f11d02bbff628de86fd744bb6f70/mail-signature/resources/az1.jpg" alt="AzoresLovers" width='auto' height='160' style="border:none;width:auto;float:left;">
            </a>
        </td>
        <td valign='top' width="auto" style="height:160px;width:auto;margin:0;padding:0;vertical-align:top;">
            <a href='http://www.azoreslovers.com' title="AzoresLovers" style="border:none;text-decoration:none;">
                <img moz-do-not-send="true" src="https://bytebucket.org/azoreslovers/general-data/raw/63a5f9b129a3f11d02bbff628de86fd744bb6f70/mail-signature/resources/az2.jpg" alt="AzoresLovers" width='auto' height='160' style="border:none;width:auto;height:160;float:left;">
            </a>
        </td>

    <td width="10" style="width:10px;min-width:10px;max-width:10px;margin:0;padding:0;">&nbsp;</td>

        <td style="position: absolute;margin:0;padding:0;">
            <table id="sig2" cellspacing='0' cellpadding='0' border-spacing='0' style="padding:0;margin:0;font-family:'Museo','Helvetica Neue',Helvetica,Arial,sans-serif;font-size:11px;mso-line-height-rule:exactly;line-height:11px;color:#b0b0b0;border-collapse:collapse;-webkit-text-size-adjust:none;">
                <tr style="margin:0;padding:0;">
                    <h4 style="color:rgba(38,43,95,1);font-weight: bold;margin-top:5px; margin-bottom:10px;">Azores Lovers, LDA</h4>
                </tr>
                <tr style="margin:0;padding:0;">
                    <td style="margin:0;padding:0;font-family:'Museo','Helvetica Neue',Helvetica,Arial,sans-serif;white-space:nowrap;">
                        <strong>
                            <a href="mailto:joaosantos@azoreslovers.com " style="border:none;text-decoration:none;color:#049cdb;">
                                <span style="color:rgba(38,43,95,1);">João Santos</span>
                            </a>
                        </strong>
                        <span style="color:#e0e0e0">&bull;</span>
                        <a href="http://www.azoreslovers.com" style="border:none;text-decoration:none;color:#b0b0b0;">
                            <span style="color:rgba(38,43,95,1);">CEO</span>
                        </a>
                    </td>
                </tr>

                <!-- <tr height='4' style="height:4px;max-height:4px;font-size:4px;mso-line-height-rule:exactly;line-height:4px;">
                    <td height='4' style="height:4px;max-height:4px;font-size:4px;mso-line-height-rule:exactly;line-height:4px;">&nbsp;</td>
                </tr> -->

                <tr style="margin:0;padding:0;">
                    <td style="margin:0;padding:0;font-family: 'Museo', Helvetica Neue',Helvetica,Arial,sans-serif;white-space:nowrap;">
                        <a href="http://www.azoreslovers.com" style="border:none;text-decoration:none;color:#b0b0b0;">
                            <br>
                            <span style="color:rgba(38,43,95,1);">Rua do Vigário Geral nº7 RC/DT</span><br>
                            <span style="color:rgba(38,43,95,1);">9500-443 Ponta Delgada</span><br>
                            <span style="color:rgba(38,43,95,1);">S.Miguel | Açores | Portugal</span>
                        </a>
                        <span style="color:#e0e0e0">&bull;</span>
                    </td>
                </tr>
                <tr style="margin:0;padding:0;">
                    <td style="margin:0;padding:0;font-family:'Museo', 'Helvetica Neue',Helvetica,Arial,sans-serif;white-space:nowrap;">
                        <a href="http://www.azoreslovers.com" style="border:none;text-decoration:none;color:#b0b0b0;">
                            <br>
                            <span style="color:rgba(38,43,95,1);font-weight: bold;">info@azoreslovers.com</span><br>
                            <span style="color:rgba(38,43,95,1);font-weight: bold;">Tlf.</span><span style="color:rgba(38,43,95,1);"> +351 296 382 758</span><br>
                            <span style="color:rgba(38,43,95,1);font-weight: bold;">Tlm.</span><span style="color:rgba(38,43,95,1);"> +351 919 581 467</span>
                        </a>
                        <span style="color:#e0e0e0">&bull;</span>
                    </td>
                </tr>

            </table>
        </td>
    </tr>
</table>
<br />
&nbsp;
</body>